<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasklist</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Tasklist</h1>
    <% if(tasks.length===0){ %>
      <p>No Tasks Found.</p>
      <% } else { %>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td> Task</td>
              <td> Status</td>
              <td> Deadline</td>
              <td>Action</td>
            </tr>
          </thead>
          <% tasks.forEach(task=> { %>

            <tbody>
              <tr>
                <td>
                  <%=task.task %>
                </td>
                <td>
                  <%= task.status %>
                </td>
                <td>
                  <%= task.deadline %>
                </td>
                <td>
                  <button class="btn btn-info">Update</button>
                  <button class="btn btn-danger">Update</button>
                </td>
              </tr>
            </tbody>
            <% }) %>
        </table>
        <% } %>
  </div>

</body>

</html>